.gdp_r {
    font: 12px Consolas, "Lucida Console", monospace;
    cursor: default;
}

.gdp_r.gdp_r_root {
    background: white;
    border: 1px solid black;
    margin: 1em 0;
}

.gdp_r a {
    outline: none;
    box-shadow: none;
    display: block !important;
    text-decoration: none !important;
}

.gdp_r a:focus, .gdp_r a:hover {
    outline: none;
    box-shadow: none;
}

.gdp_r p {
    line-height: inherit !important;
    margin: 0 !important;
}

.gdp_r .gdp_r_f {
    padding: 3px;
    border-top: 1px dashed #444;
    font: 11px "Verdana", sans-serif;
}

.gdp_r .gdp_r_f code {
    color: red;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    font: 11px Consolas, "Liberation Mono", Courier, monospace;
    font-weight: bold;
}

.gdp_r .gdp_r_c {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 2px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.gdp_r .gdp_r_a {
    color: #F00;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.gdp_r .gdp_r_ad .gdp_r_a {
    color: #000;
    opacity: 0.2;
}

.gdp_r .gdp_r_k {
    color: #060;
    font-weight: bold;
}

.gdp_r .gdp_r_d {
    font-size: 11px;
    color: #777;
    margin: 0 2px;
}

.gdp_r .gdp_r_d span {
    color: #333;
}

.gdp_r .gdp_r_p {
    color: #000;
    font-weight: bold;
}

.gdp_r .gdp_r_p.gdp_r_t_integer, .gdp_r .gdp_r_p.gdp_r_t_double {
    color: #F0E;
}

.gdp_r .gdp_r_p.gdp_r_t_string {
    color: #E00;
}

.gdp_r .gdp_r_p.gdp_r_t_boolean {
    color: #00E;
}

.gdp_r .gdp_r_v {
    margin-left: 9px;
    padding-left: 7px;
    border-left: 1px dotted #CCC;
    display: none;
}

.gdp_r .gdp_r_v.gdp_r_open {
    display: block;
}

.gdp_r .gdp_r_ir {
    font-style: italic;
}

.gdp_r .gdp_r_t_comment {
    color: #080;
}

.gdp_r .gdp_r_m .gdp_r_k {
    color: #909;
}

.gdp_r .gdp_r_m .gdp_r_ma {
    font-weight: normal;
    color: #777;
}

.gdp_r .gdp_r_m .gdp_r_mv {
    color: #00E;
}

.gdp_r .gdp_r_m_public .gdp_r_mo,
.gdp_r .gdp_r_m_protected .gdp_r_mo,
.gdp_r .gdp_r_m_private .gdp_r_mo,
.gdp_r .gdp_r_m_abstract .gdp_r_mo,
.gdp_r .gdp_r_m_final .gdp_r_mo {
    font-weight: normal;
    color: #008;
}

.gdp_r.gdp_r_root .gdp_r_rn {
    font-weight: bold;
    color: green;
}

.gdp_r .gdp_r_m_magic {
    font-style: italic;
}

.gdp_r .gdp_r_m_deprecated {
    text-decoration: line-through;
}

.gdp_r a.gdp_r_c.gdp_r_m_constructor .gdp_r_k, .gdp_r a.gdp_r_c.gdp_r_m_destructor .gdp_r_k {
    color: #C02;
}

.gdp_r a.gdp_r_c:hover {
    background-color: Highlight;
    color: HighlightText;
}

.gdp_r a.gdp_r_c:hover .gdp_r_k,
.gdp_r a.gdp_r_c:hover .gdp_r_d,
.gdp_r a.gdp_r_c:hover .gdp_r_d span,
.gdp_r a.gdp_r_c:hover .gdp_r_ma,
.gdp_r a.gdp_r_c:hover .gdp_r_mo,
.gdp_r a.gdp_r_c:hover .gdp_r_mv,
.gdp_r a.gdp_r_c:hover .gdp_r_p,
.gdp_r a.gdp_r_c:hover .gdp_r_a {
    background-color: Highlight;
    color: HighlightText;
}

.gdp_rs.gdp_rs_null {
    color: #C02;
}

.gdp_rs.gdp_rs_empty {
    color: #080;
}

.gdp_rs.gdp_rs_number {
    color: #008;
}

.gdpet-grid,
.gdpet-unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gdpet-grid {
    display: block;
    clear: both;
    *zoom: 1;
}

.gdpet-grid .gdpet-unit {
    float: left;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.gdpet-grid .wrap {
    max-width: 978px;
    margin: 0 auto;
}

.gdpet-grid:before, .gdpet-grid:after {
    display: table;
    content: "";
    line-height: 0;
}

.gdpet-grid:after {
    clear: both;
}

.gdpet-grid .whole, .gdpet-grid .w-1-1 {
    width: 100%;
}

.gdpet-grid .half, .gdpet-grid .w-1-2 {
    width: 50%;
}

.gdpet-grid .one-third, .gdpet-grid .w-1-3 {
    width: 33.3332%;
}

.gdpet-grid .two-thirds, .gdpet-grid .w-2-3 {
    width: 66.6665%;
}

.gdpet-grid .one-quarter, .gdpet-grid .w-1-4 {
    width: 25%;
}

.gdpet-grid .three-quarters, .gdpet-grid .w-3-4 {
    width: 75%;
}

.gdpet-grid .one-fifth, .gdpet-grid .w-1-5 {
    width: 20%;
}

.gdpet-grid .two-fifths, .gdpet-grid .w-2-5 {
    width: 40%;
}

.gdpet-grid .three-fifths, .gdpet-grid .w-3-5 {
    width: 60%;
}

.gdpet-grid .four-fifths, .gdpet-grid .w-4-5 {
    width: 80%;
}

.gdpet-grid .golden-small, .gdpet-grid .w-g-s {
    width: 38.2716%;
}

.gdpet-grid .golden-large, .gdpet-grid .w-g-l {
    width: 61.7283%;
}

.gdpet-unit .gdpet-unit:first-child {
    padding-left: 0;
}

.gdpet-unit .gdpet-unit:last-child {
    padding-right: 0;
}

.gdpet-unit .gdpet-unit:first-child > .gdpet-unit {
    padding-top: 0;
}

.gdpet-unit .gdpet-unit:last-child > .gdpet-unit {
    padding-bottom: 0;
}

.gdpet-unit.no-gutters {
    padding: 0 !important;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@media screen and (max-width: 568px) {
    .gdpet-grid .gdpet-unit {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    .gdpet-unit .gdpet-grid .gdpet-unit {
        padding-left: 0;
        padding-right: 0;
    }

    .center-on-mobiles {
        text-align: center !important;
    }

    .hide-on-mobiles {
        display: none !important;
    }
}

.debugpress-icon-bug {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M511.988%20288.9c-.478%2017.43-15.217%2031.1-32.653%2031.1H424v16c0%2021.864-4.882%2042.584-13.6%2061.145l60.228%2060.228c12.496%2012.497%2012.496%2032.758%200%2045.255-12.498%2012.497-32.759%2012.496-45.256%200l-54.736-54.736C345.886%20467.965%20314.351%20480%20280%20480V236c0-6.627-5.373-12-12-12h-24c-6.627%200-12%205.373-12%2012v244c-34.351%200-65.886-12.035-90.636-32.108l-54.736%2054.736c-12.498%2012.497-32.759%2012.496-45.256%200-12.496-12.497-12.496-32.758%200-45.255l60.228-60.228C92.882%20378.584%2088%20357.864%2088%20336v-16H32.666C15.23%20320%20.491%20306.33.013%20288.9-.484%20270.816%2014.028%20256%2032%20256h56v-58.745l-46.628-46.628c-12.496-12.497-12.496-32.758%200-45.255%2012.498-12.497%2032.758-12.497%2045.256%200L141.255%20160h229.489l54.627-54.627c12.498-12.497%2032.758-12.497%2045.256%200%2012.496%2012.497%2012.496%2032.758%200%2045.255L424%20197.255V256h56c17.972%200%2032.484%2014.816%2031.988%2032.9zM257%200c-61.856%200-112%2050.144-112%20112h224C369%2050.144%20318.856%200%20257%200z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-caret-down {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M31.3%20192h257.3c17.8%200%2026.7%2021.5%2014.1%2034.1L174.1%20354.8c-7.8%207.8-20.5%207.8-28.3%200L17.2%20226.1C4.6%20213.5%2013.5%20192%2031.3%20192z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-caret-right {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20192%20512%22%3E%3Cpath%20d%3D%22M0%20384.662V127.338c0-17.818%2021.543-26.741%2034.142-14.142l128.662%20128.662c7.81%207.81%207.81%2020.474%200%2028.284L34.142%20398.804C21.543%20411.404%200%20402.48%200%20384.662z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-chevron-left {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M34.52%20239.03L228.87%2044.69c9.37-9.37%2024.57-9.37%2033.94%200l22.67%2022.67c9.36%209.36%209.37%2024.52.04%2033.9L131.49%20256l154.02%20154.75c9.34%209.38%209.32%2024.54-.04%2033.9l-22.67%2022.67c-9.37%209.37-24.57%209.37-33.94%200L34.52%20272.97c-9.37-9.37-9.37-24.57%200-33.94z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-chevron-right {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20d%3D%22M285.476%20272.971L91.132%20467.314c-9.373%209.373-24.569%209.373-33.941%200l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505%20256%2034.484%20101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373%2024.569-9.373%2033.941%200L285.475%20239.03c9.373%209.372%209.373%2024.568.001%2033.941z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-exclamation-square {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.49%2032%200%2053.49%200%2080v352c0%2026.51%2021.49%2048%2048%2048h352c26.51%200%2048-21.49%2048-48V80c0-26.51-21.49-48-48-48zm-207.691%2096h63.382c6.884%200%2012.357%205.78%2011.982%2012.654l-7.418%20136c-.347%206.364-5.609%2011.346-11.982%2011.346h-48.546c-6.373%200-11.635-4.982-11.982-11.346l-7.418-136c-.375-6.874%205.098-12.654%2011.982-12.654zM224%20398c-25.405%200-46-20.595-46-46s20.595-46%2046-46%2046%2020.595%2046%2046-20.595%2046-46%2046z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-info-square {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.49%2032%200%2053.49%200%2080v352c0%2026.51%2021.49%2048%2048%2048h352c26.51%200%2048-21.49%2048-48V80c0-26.51-21.49-48-48-48zm-176%2086c23.196%200%2042%2018.804%2042%2042s-18.804%2042-42%2042-42-18.804-42-42%2018.804-42%2042-42zm56%20254c0%206.627-5.373%2012-12%2012h-88c-6.627%200-12-5.373-12-12v-24c0-6.627%205.373-12%2012-12h12v-64h-12c-6.627%200-12-5.373-12-12v-24c0-6.627%205.373-12%2012-12h64c6.627%200%2012%205.373%2012%2012v100h12c6.627%200%2012%205.373%2012%2012v24z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-minus-square {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.5%2032%200%2053.5%200%2080v352c0%2026.5%2021.5%2048%2048%2048h352c26.5%200%2048-21.5%2048-48V80c0-26.5-21.5-48-48-48zM92%20296c-6.6%200-12-5.4-12-12v-56c0-6.6%205.4-12%2012-12h264c6.6%200%2012%205.4%2012%2012v56c0%206.6-5.4%2012-12%2012H92z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-plus-square {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.5%2032%200%2053.5%200%2080v352c0%2026.5%2021.5%2048%2048%2048h352c26.5%200%2048-21.5%2048-48V80c0-26.5-21.5-48-48-48zm-32%20252c0%206.6-5.4%2012-12%2012h-92v92c0%206.6-5.4%2012-12%2012h-56c-6.6%200-12-5.4-12-12v-92H92c-6.6%200-12-5.4-12-12v-56c0-6.6%205.4-12%2012-12h92v-92c0-6.6%205.4-12%2012-12h56c6.6%200%2012%205.4%2012%2012v92h92c6.6%200%2012%205.4%2012%2012v56z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-power-off {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M400%2054.1c63%2045%20104%20118.6%20104%20201.9%200%20136.8-110.8%20247.7-247.5%20248C120%20504.3%208.2%20393%208%20256.4%207.9%20173.1%2048.9%2099.3%20111.8%2054.2c11.7-8.3%2028-4.8%2035%207.7L162.6%2090c5.9%2010.5%203.1%2023.8-6.6%2031-41.5%2030.8-68%2079.6-68%20134.9-.1%2092.3%2074.5%20168.1%20168%20168.1%2091.6%200%20168.6-74.2%20168-169.1-.3-51.8-24.7-101.8-68.1-134-9.7-7.2-12.4-20.5-6.5-30.9l15.8-28.1c7-12.4%2023.2-16.1%2034.8-7.8zM296%20264V24c0-13.3-10.7-24-24-24h-32c-13.3%200-24%2010.7-24%2024v240c0%2013.3%2010.7%2024%2024%2024h32c13.3%200%2024-10.7%2024-24z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-icon-question-square {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20d%3D%22M400%2032H48C21.49%2032%200%2053.49%200%2080v352c0%2026.51%2021.49%2048%2048%2048h352c26.51%200%2048-21.49%2048-48V80c0-26.51-21.49-48-48-48zM224%20430c-25.365%200-46-20.636-46-46%200-25.365%2020.635-46%2046-46s46%2020.635%2046%2046c0%2025.364-20.635%2046-46%2046zm40-131.333V300c0%206.627-5.373%2012-12%2012h-56c-6.627%200-12-5.373-12-12v-4c0-41.059%2031.128-57.472%2054.652-70.66%2020.171-11.309%2032.534-19%2032.534-33.976%200-19.81-25.269-32.958-45.698-32.958-27.19%200-39.438%2013.139-57.303%2035.797-4.045%205.13-11.46%206.069-16.665%202.122l-34.699-26.31c-5.068-3.843-6.251-10.972-2.715-16.258C141.4%20112.957%20176.158%2090%20230.655%2090c56.366%200%20116.531%2043.998%20116.531%20102%200%2077.02-83.186%2078.205-83.186%20106.667z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.debugpress-clearfix:before,
.debugpress-clearfix:after {
    content: " ";
    display: table;
}

.debugpress-clearfix:after {
    clear: both;
}

.gdp_r [class^=gdpet-icon-] {
    vertical-align: middle;
    font-size: 14px;
}

.gdpet-clearfix:before,
.gdpet-clearfix:after {
    content: " ";
    display: table;
}

.gdpet-clearfix:after {
    clear: both;
}

.gdpet-style-popup {
    color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.4em;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.gdpet-style-popup * {
    font-family: inherit;
}

.gdpet-style-popup,
.gdpet-style-popup * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.gdpet-style-popup pre {
    margin: 0;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 1.4em;
    white-space: pre;
}

.gdpet-style-popup a {
    color: #0073AA;
    text-decoration: none;
    box-shadow: none;
    outline: none;
}

.gdpet-style-popup .sanp-wrapper {
    background: #FFF;
    border-radius: 0;
    border: 4px solid #23282D;
    box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.6);
}

.gdpet-style-popup .sanp-wrapper .sanp-header {
    background: #23282D;
    border-radius: 0;
    padding: 5px 5px 0;
    color: #FFF;
    height: 33px;
}

.gdpet-style-popup .sanp-wrapper > button {
    -webkit-appearance: none;
    background: none;
    border: medium none;
    color: #EEE;
    cursor: pointer;
    float: right;
    font-size: 17px;
    font-weight: 900;
    line-height: 18px;
    right: 5px;
    top: 7px;
}

.gdpet-style-popup .sanp-wrapper .sanp-header h5 {
    border-bottom: 4px solid #23282D;
    color: #FFF;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.gdpet-style-popup .sanp-wrapper .sanp-content {
    padding: 0;
}

.gdpet-style-popup .sanp-wrapper .sanp-footer {
    border-radius: 0;
    padding: 5px;
    background: #E0E0E0;
    text-align: left;
}

.gdpet-style-popup .sanp-wrapper .sanp-footer button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #23282D;
    font-weight: bold;
    outline: 1px solid transparent;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gdpet-style-popup.sanp-button-alt .sanp-wrapper > button {
    background: #500;
    box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.3);
    color: #FFF;
}

#wpadminbar .gdpet-icon {
    vertical-align: middle !important;
    font-size: 20px !important;
    line-height: 1;
}

#wp-admin-bar-gdpet-debugger-button {
    float: right !important;
}

.gdpet-float-button {
    position: fixed;
    background-color: #23282D;
    border: 1px solid #23282D;
    box-shadow: 0 0 3px rgba(35, 40, 45, 0.7);
    z-index: 142000;
    padding: 5px;
}

.gdpet-float-button a {
    display: block;
    height: 22px;
    line-height: 22px;
    outline: none !important;
    text-decoration: none;
}

.gdpet-float-button a:focus {
    box-shadow: none;
}

.gdpet-float-button.gdpet-position-topright {
    right: 5px;
    top: 5px;
}

.gdpet-float-button.gdpet-position-topleft {
    left: 5px;
    top: 5px;
}

.gdpet-float-button.gdpet-position-bottomright {
    right: 5px;
    bottom: 5px;
}

.gdpet-float-button.gdpet-position-bottomleft {
    left: 5px;
    bottom: 5px;
}

.gdpet-float-button .gdpet-icon {
    font-size: 24px !important;
    vertical-align: top;
}

.gdpet-debug-dialog-button.gdpet-float-button a .gdpet-debug-button-indicators {
    vertical-align: 8px;
}

.gdpet-debug-dialog-button a .gdpet-debug-button-indicators .gdpet-debug-has-errors,
.gdpet-debug-dialog-button a .gdpet-debug-button-indicators .gdpet-debug-has-ajax {
    padding: 2px 3px !important;
    border-radius: 3px !important;
    color: #FFF;
    font-size: 11px !important;
    max-height: 12px !important;
    margin: 4px !important;
}

.gdpet-debug-dialog-button a .gdpet-debug-button-indicators .gdpet-debug-has-ajax {
    background-color: #D82AE5;
}

.gdpet-debug-dialog-button a .gdpet-debug-button-indicators .gdpet-debug-has-errors {
    background-color: #ED1E24;
}

#gdpet-debugger-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 26px;
}

#gdpet-debugger-tabs li {
    float: left;
    height: 28px;
    line-height: 26px;
    margin: 0 5px 0 0;
    padding: 0 5px;
    list-style: none;
}

#gdpet-debugger-tabs li a {
    color: #EEE;
    box-shadow: none;
    outline: none;
    text-decoration: none;
}

#gdpet-debugger-tabs li.gdpet-tab-active {
    background: #FFF;
}

#gdpet-debugger-tabs li.gdpet-tab-active a {
    color: #23282D;
    font-weight: bold;
}

#gdpet-debugger-content-wrapper .gdpet-tab-content {
    display: none;
}

#gdpet-debugger-content-wrapper .gdpet-tab-content.gdpet-tab-active {
    display: block;
}

#gdpet-debugger-select {
    display: none;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 10px;
    width: 85%;
    min-height: 28px;
}

.gdpet-debugger-footer-right {
    float: right;
}

.gdpet-debugger-footer-left {
    float: left;
}

#gdpet-debugger-content-wrapper .gdpet-events-log-toggle {
    font-weight: bold;
}

#gdpet-debugger-content-wrapper .gdpet-events-log-toggler {
    border-left: 1px solid #888;
    padding-left: 10px;
    display: none;
}

#gdpet-debugger-content-wrapper .gdpet-events-log-toggler.gdpet-events-log-toggler-opened {
    display: block;
}

#gdpet-debugger-content-wrapper .gdpet-error-message {
    font-weight: bold;
    font-style: italic;
    color: red;
}

.gdpet-debugger-panel-block {
    margin: 5px 0 10px;
    display: block;
    overflow: auto;
}

.gdpet-querie-sidebar-control,
.gdpet-debugger-panel-block-title {
    background: #23282D;
    color: #FFF;
    padding: 5px !important;
    font-size: 12px;
    margin: 0;
}

.gdpet-debugger-panel-block-title span {
    float: right;
    font-size: 15px;
    cursor: pointer;
}

.gdpet-querie-sidebar-control {
    margin-bottom: 10px;
    text-align: right;
}

.gdpet-querie-sidebar-control span {
    font-size: 15px;
    cursor: pointer;
}

.gdpet-querie-sidebar-control span i.gdpet-icon,
.gdpet-debugger-panel-block-title span i.gdpet-icon {
    vertical-align: top;
}

.gdpet-debugger-panel-block-subtitle {
    background: #777;
    color: #FFF;
    margin: 5px 0;
    padding: 2px 5px !important;
    font-size: 11px;
    line-height: 20px;
}

.gdpet-debugger-table {
    width: 100%;
    table-layout: auto;
    margin: 0;
    border: 1px solid #DDD;
    background: #FFF;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 20px;
}

.gdpet-debugger-table thead {
    background: #DDD;
}

.gdpet-debugger-table th,
.gdpet-debugger-table td {
    border: 1px solid #E8E8E8;
    text-align: left;
    padding: 1px 4px !important;
    font-size: 12px;
}

.gdpet-debugger-table td {
    border-width: 0 1px 1px 0;
    vertical-align: top;
}

.gdpet-debugger-table tr:nth-of-type(2n) {
    background: #FAFAFA;
}

.gdpet-style-popup a.sqlq-option-on {
    font-weight: bold;
    color: #FFF;
    background: #0073AA;
    padding: 0 3px 1px;
}

.sql-query-list .sql-query {
    border: 1px solid #777;
    margin: 5px 0;
    padding: 5px;
}

.sql-query-list .sql-query .sql-query-full {
    background-color: #F4F4F4;
    color: #000;
    font-family: monospace;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 5px;
}

.gdpet-debugger-table .gdp_r.gdp_r_root {
    margin: 0;
}

.gdpet-wrapper-warning {
    border: 1px solid #23282D;
    padding: 10px;
    margin: 0 0 10px;
}

.gdpet-wrapper-warning h4 {
    color: #900;
    font-size: 16px;
    margin: 0 0 5px;
}

.gdpet-debug-dialog-button a,
.gdpet-debug-dialog-button a:hover {
    color: #69FB3B !important;
}

.gdpet-debug-dialog-button.gdpet-debug-has-warnings a,
.gdpet-debug-dialog-button.gdpet-debug-has-warnings a:hover {
    color: #FF0 !important;
}

.gdpet-debug-dialog-button.gdpet-debug-has-errors a,
.gdpet-debug-dialog-button.gdpet-debug-has-errors a:hover {
    color: #FF3232 !important;
}

.gdpet-debug-environment {
    margin: 0 0 10px;
    padding: 10px;
    background-color: #F3FFE7;
}

.gdpet-debug-environment .gdpet-debugger-panel-block-title {
    background-color: #12AE00;
    text-align: center;
    font-size: 1.1em;
}

.gdpet-debug-environment.gdpet-debug-env-development {
    background-color: #FFE7F2;
}

.gdpet-debug-environment.gdpet-debug-env-development .gdpet-debugger-panel-block-title {
    background-color: #AE0060;
}

.gdpet-debug-environment.gdpet-debug-env-local {
    background-color: #F7E7FF;
}

.gdpet-debug-environment.gdpet-debug-env-local .gdpet-debugger-panel-block-title {
    background-color: #8800AE;
}

.gdpet-debug-environment.gdpet-debug-env-staging {
    background-color: #E7EEFF;
}

.gdpet-debug-environment.gdpet-debug-env-staging .gdpet-debugger-panel-block-title {
    background-color: #0026AE;
}

.gdpet-debugger-footer-left .gdpet-debugger-environment {
    color: #12AE00;
}

.gdpet-debugger-footer-left .gdpet-debugger-environment.gdpet-env-development {
    color: #AE0060;
}

.gdpet-debugger-footer-left .gdpet-debugger-environment.gdpet-env-local {
    color: #8800AE;
}

.gdpet-debugger-footer-left .gdpet-debugger-environment.gdpet-env-staging {
    color: #0026AE;
}

.gdpet-debug-notice-block {
    margin: 0 0 10px;
    padding: 10px 10px 1px;
    border-left: 4px solid red;
    background-color: #FFE7E7;
}

.gdpet-debug-notice-block .gdpet-debugger-panel-block-title {
    background-color: red;
}

.gdpet-tab-content.gdpet-queries-sidebar-closed .one-quarter {
    width: 44px;
}

.gdpet-tab-content.gdpet-queries-sidebar-closed .one-quarter h5,
.gdpet-tab-content.gdpet-queries-sidebar-closed .one-quarter div {
    display: none !important;
}

.gdpet-tab-content.gdpet-queries-sidebar-closed .three-quarters {
    width: calc(100% - 44px);
}

.gdpet-debugger-panel-block .sql-calls-button-expander {
    font-weight: bold;
    font-size: 12px;
    color: #FFF !important;
    background: #0073AA;
    padding: 0 6px 3px;
    margin: 0 0 0 10px;
    border-radius: 3px;
}

.gdpet-debugger-footer-left div {
    display: inline;
}

@media screen and (max-width: 1080px) {
    #gdpet-debugger-tab-queries .gdpet-grid .one-quarter {
        width: 45%;
    }

    #gdpet-debugger-tab-queries .gdpet-grid .three-quarters {
        width: 55%;
    }

    .gdpet-debugger-footer-left div {
        display: block;
    }

    .gdpet-debugger-footer-left div span {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .gdpet-querie-sidebar-control {
        margin-bottom: 5px;
    }

    .gdpet-debugger-footer-left,
    .gdpet-debugger-footer-right {
        float: none;
        text-align: center;
    }

    #gdpet-debugger-tabs {
        display: none;
    }

    #gdpet-debugger-select {
        display: block;
    }

    .gdpet-style-popup .sanp-wrapper .sanp-header {
        height: 40px;
    }

    .gdpet-tab-content .gdpet-grid .gdpet-unit {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 782px) {
    #wpadminbar .gdpet-debug-dialog-button {
        display: block !important;
    }

    #wpadminbar .gdpet-debug-dialog-button .ab-item {
        padding: 0 10px !important;
    }

    #wpadminbar .gdpet-debug-dialog-button .ab-item i.gdpet-icon {
        font-size: 24px !important;
    }
}
