.debugpress-panel {
    .nav-tab {
        margin-left: 10px;
        padding: 5px 15px;

        .dashicons {
            font-size: 16px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .nav-tab-right {
        float: right;
        margin-right: 10px;
        margin-left: 0;
    }
}

.debugpress-panel-settings {
    .tab-content {
        display: none;

        &.tab-content-active {
            display: block;
        }
    }
}

.debugpress_settings {
    width: calc(100% - 330px);
    float: left;
    color: #000;

    .debugpress-settings-section {
        max-width: 720px;
        background-color: #FFF;
        padding: 15px;
        margin: 15px 0 0 15px;
        border: 1px solid #1E72BD;

        h2 {
            margin: -15px -15px 15px;
            padding: 15px;
            background-color: #1E72BD;
            color: #FFF;
        }

        .debugpress-section-info {
            margin: -15px -15px 0;
            padding: 15px;
            background-color: #DAEEFF;
        }

        p.description {
            border-top: 1px solid #1E72BD;
            margin: 10px 0 0;
            padding: 5px 0 0;
        }
    }
}

.debugpress_sidebar {
    float: right;
    padding-left: 20px;
    margin-right: 15px;
    width: 280px;

    img {
        height: auto;
        width: 100%;
    }

    > div {
        text-align: center;
        padding: 15px;
        margin: 15px 0;
        max-width: 360px;
    }

    .debugpress_plugin {
        color: #FFF;
        background: #1E72BD;

        > span {
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        > div {
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
            padding: 15px 0;
            margin: 15px 0;
            font-weight: bold;
            font-size: 1.1em;
        }

        .button-secondary {
            font-weight: bold;
        }
    }

    .debugpress_help {
        color: #111;
        background: #FFF;
        border: 1px solid #1E72BD;

        > p {
            margin: 0;
            padding: 0 0 15px;
        }
    }

    .debugpress_dev4press {
        color: #111;
        background: #E0E0E0;
        border: 1px solid #1E72BD;

        > p {
            margin: 0;
            padding: 0 0 10px;
            font-weight: bold;
        }

        > div {
            border-top: 1px solid #1E72BD;
            padding: 15px 0 0;
            margin: 15px 0 0;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 900px) {
    .debugpress_settings {
        width: 100%;
        float: none;

        .debugpress-settings-section {
            margin: 15px;
        }
    }

    .debugpress_sidebar {
        border-top: 1px solid #1E72BD;
        padding-top: 20px;
        padding-left: 0;
        width: 100%;
        float: none;
        margin: 0;

        > div {
            margin: 0 auto 15px;
        }
    }
}
