.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
    content: " ";
    display: table;
}

.#{$prefix}-clearfix:after {
    clear: both;
}

#wpadminbar .#{$font-prefix-ctrl} {
    vertical-align: text-top !important;
    font-size: 19px !important;
    font-family: "debugpress" !important;
    line-height: 1;
}

#wp-admin-bar-debugpress-debugger-button {
    float: right !important;
}
