.gdpet-style-popup {
    #gdpet-debugger-tabs {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 13px;
        line-height: 26px;

        li {
            float: left;
            height: 28px;
            line-height: 26px;
            margin: 0 5px 0 0;
            padding: 0 5px;
            list-style: none;

            a {
                color: #EEE;
                box-shadow: none;
                outline: none;
                text-decoration: none;
            }

            &.gdpet-tab-active {
                background: #FFF;

                a {
                    color: #23282D;
                    font-weight: bold;
                }
            }
        }
    }

    #gdpet-debugger-content-wrapper {
        .gdpet-tab-content {
            display: none;

            &.gdpet-tab-active {
                display: block;
            }
        }
    }

    #gdpet-debugger-select {
        display: none;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        margin: 0;
        padding: 0 10px;
        width: 85%;
        min-height: 28px;
    }

    .gdpet-debugger-footer-right {
        float: right;
    }

    .gdpet-debugger-footer-left {
        float: left;

        div {
            display: inline;
        }
    }

    #gdpet-debugger-content-wrapper {
        .gdpet-events-log-toggle {
            font-weight: bold;
        }

        .gdpet-events-log-toggler {
            border-left: 1px solid #888;
            padding-left: 10px;

            display: none;

            &.gdpet-events-log-toggler-opened {
                display: block;
            }
        }

        .gdpet-error-message {
            font-weight: bold;
            font-style: italic;
            color: red;
        }
    }

    .gdpet-debugger-panel-block {
        margin: 5px 0 10px;
        display: block;
        overflow: auto;

        .sql-calls-button-expander {
            font-weight: bold;
            font-size: 12px;
            color: #FFF !important;
            background: #0073AA;
            padding: 0 6px 3px;
            margin: 0 0 0 10px;
            border-radius: 3px;
        }
    }

    .gdpet-debugger-panel-block-title {
        background: #23282D;
        color: #FFF;
        padding: 5px !important;
        font-size: 12px;
        margin: 0;

        span {
            float: right;
            font-size: 15px;
            cursor: pointer;

            i.debugpress-icon {
                vertical-align: top;
            }
        }
    }

    .gdpet-querie-sidebar-control {
        background: #23282D;
        color: #FFF;
        padding: 5px !important;
        font-size: 12px;
        margin: 0;
        margin-bottom: 10px;
        text-align: right;

        span {
            font-size: 15px;
            cursor: pointer;

            i.debugpress-icon {
                vertical-align: top;
            }
        }
    }

    .gdpet-debugger-panel-block-subtitle {
        background: #777;
        color: #FFF;
        margin: 5px 0;
        padding: 2px 5px !important;
        font-size: 11px;
        line-height: 20px;
    }

    .gdpet-debugger-table {
        width: 100%;
        table-layout: auto;
        margin: 0;
        border: 1px solid #DDD;
        background: #FFF;
        border-collapse: collapse;
        font-size: 12px;
        line-height: 20px;

        thead {
            background: #DDD;
        }

        th,
        td {
            border: 1px solid #E8E8E8;
            text-align: left;
            padding: 1px 4px !important;
            font-size: 12px;
        }

        td {
            border-width: 0 1px 1px 0;
            vertical-align: top;
        }

        tr:nth-of-type(2n) {
            background: #FAFAFA;
        }

        &.gdpet-table-keyvalue {
            tr {
                td {
                    &:first-child {
                        width: 30%;
                    }
                }
            }
        }

        .gdp_r.gdp_r_root {
            margin: 0;
        }
    }

    #gdpet-debugger-tab-queries {
        .gdpet-debugger-table {
            &.gdpet-table-keyvalue {
                tr {
                    td {
                        &:first-child {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    .sql-query-list {
        .sql-query {
            border: 1px solid #777;
            margin: 5px 0;
            padding: 5px;

            .sql-query-full {
                background-color: #F4F4F4;
                color: #000;
                font-family: monospace;
                font-weight: bold;
                margin: 5px 0 0;
                padding: 5px;
            }
        }
    }

    .gdpet-wrapper-warning {
        border: 1px solid #23282D;
        padding: 10px;
        margin: 0 0 10px;

        h4 {
            color: #900;
            font-size: 16px;
            margin: 0 0 5px;
        }
    }

    .gdpet-debug-environment {
        margin: 0 0 10px;
        padding: 10px;
        background-color: #F3FFE7;

        .gdpet-debugger-panel-block-title {
            background-color: #12AE00;
            text-align: center;
            font-size: 1.1em;
        }

        &.gdpet-debug-env-development {
            background-color: #FFE7F2;

            .gdpet-debugger-panel-block-title {
                background-color: #AE0060;
            }
        }

        &.gdpet-debug-env-local {
            background-color: #F7E7FF;

            .gdpet-debugger-panel-block-title {
                background-color: #8800AE;
            }
        }

        &.gdpet-debug-env-staging {
            background-color: #E7EEFF;

            .gdpet-debugger-panel-block-title {
                background-color: #0026AE;
            }
        }
    }

    .gdpet-debugger-footer-left {
        .debugpress-debugger-environment {
            color: #12AE00;

            &.debugpress-env-development {
                color: #AE0060;
            }

            &.debugpress-env-local {
                color: #8800AE;
            }

            &.debugpress-env-staging {
                color: #0026AE;
            }
        }
    }

    .gdpet-debug-notice-block {
        margin: 0 0 10px;
        padding: 10px 10px 1px;
        border-left: 4px solid red;
        background-color: #FFE7E7;

        .gdpet-debugger-panel-block-title {
            background-color: red;
        }
    }

    .gdpet-tab-content {
        &.gdpet-queries-sidebar-closed {
            .one-quarter {
                width: 44px;

                h5, div {
                    display: none !important;
                }
            }

            .three-quarters {
                width: calc(100% - 44px);
            }
        }
    }
}
