.debugpress-panel-tools {
    .tab-content {
        margin: 15px;
    }
}

.debugpress_phpinfo {
    overflow: auto;

    h1.p {
        background-color: #222;
        color: #FFF;
        font-size: 28px;
        margin: 0;
        padding: 22px 16px;
    }

    td img {
        float: right;
        margin: 7px 16px 0 0;
    }

    table {
        width: 100%;
        background: #FFF;
        border-collapse: collapse;
        border: 1px solid #BBB;
        margin: 0 0 5px;

        td,
        th {
            padding: 5px;
            text-align: left;
            vertical-align: top;
        }

        tr {
            th,
            td.first {
                width: 20%;
            }

            td.b,
            th.first {
                color: #333;
                font-weight: bold;
            }

            td {
                border-bottom: 1px solid #ECECEC;
                word-break: break-all;

                .options {
                    text-align: right;
                    white-space: normal;
                    padding-right: 0;
                }
            }

            &.first {
                th {
                    color: #222;
                    font-weight: bold;
                }
            }

            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            &.h,
            &.with-header {
                th {
                    background: #666;
                    color: #FFF;
                    padding: 10px;
                }
            }
        }

        th {
            text-align: left;
            background-color: #ECECEC;
            padding: 3px 5px;
        }
    }

    div.inside {
        margin: -1px 0 10px;
    }

    p.sub {
        color: #777;
        font-size: 13px;
        font-style: italic;
        padding: 5px 10px 15px;
        margin: -12px;
    }

    h3 {
        background: #333 !important;
        color: white;
        text-shadow: none !important;
        font-size: 14px;
        font-weight: bold;
    }

    div.inside .link {
        text-align: right;
        font-weight: bold;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h2.phpsection {
        background-color: #333;
        color: #FFF;
        font-style: normal;
        padding: 5px 10px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 5px;
        text-shadow: none;
    }

    h2.phpsection a {
        color: #FFF;
    }
}

.debugpress_info {
    table {
        min-width: 50%;
        max-width: 100%;
        line-height: 1.5;
        border-collapse: collapse;
        border: 1px solid #BBB;
        border-top: 0;

        thead {
            th {
                text-align: left;
                padding: 5px;
                background: #666;
                color: #FFF;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #BBB;
                background: #FFF;

                th, td {
                    vertical-align: top;
                    padding: 5px;
                    text-align: left;
                }

                td {
                    border-left: 1px solid #BBB;

                    div {
                        word-break: break-all;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .debugpress_info {
        table {
            width: 100%;
        }
    }
}