// Global //
$prefix: "debugpress";
$grid-prefix: "debugpress";

// Font //
$font-name: "debugpress";
$font-version: "3.5";
$font-prefix: "debugpress-icon";
$font-prefix-ctrl: "debugpress-icon";
$font-size: 14px;

// Base //
$base-font-size: 13px;
$sql-font-size: 13px;
$pretty-font-size: 12px;
