// Global //
$prefix: "debugpress";
$grid-prefix: "debugpress";

// Font //
$font-name: "debugpress";
$font-version: "1.0";
$font-prefix: "debugpress";
$font-prefix-ctrl: "debugpress-icon";
$font-size: 14px;
